@model PersianAdminPanel.Models.UserSignin
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <link href="~/Content/css/SigninPage.css" rel="stylesheet" />
    <title>sign in</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="container">
        <section id="content">
            @using (Html.BeginForm("Signin", "Auth", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h1>Login Form</h1>
                <div>
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @data_val = "true", @required = "required", id = "username", placeholder = Html.DisplayNameFor(x => x.Username) })
                    @*<input type="text" placeholder="Username" required="" id="username" />*@
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "error" })

                </div>
                <div>
                    @Html.PasswordFor(model => model.Password, new { @class = "password", @data_val = "true", @required = "required", @type = "password", id = "password", placeholder = Html.DisplayNameFor(x => x.Password) })
                    @*<input type="password" placeholder="Password" required="" id="password" />*@
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "error" })
                </div>
                
                <div>

                    <div class="form-group">
                        <button id="refresh" class="btn" style="display:inline-block">
                            <i class="fa fa-refresh" aria-hidden="true"></i>

                            @Html.LabelFor(model => model.Captcha)
                            <img alt="Captcha" id="imgcpatcha" src="@Url.Action("CaptchaImage","Captcha")" style="float: right; margin-left: 0.5em" />
                        </button>
                    </div>
                    <br />

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Captcha, new { @class = "form-control", @data_val = "true", @required = "required", id = "captcha", placeholder = Html.DisplayNameFor(x => x.Captcha) })
                        @*<input type="text" placeholder="Username" required="" id="username" />*@
                        @Html.ValidationMessageFor(model => model.Captcha, "", new { @class = "error" })

                    </div>
                    <div>
                        <div class="checkbox">
                            <label>@Html.CheckBoxFor(model => model.RememberMe)&nbsp;@Html.DisplayNameFor(model => model.RememberMe)</label>
                        </div>
                    </div>
                    <p>
                        @Html.ValidationMessage("CustomError")
                        <br />
                        @ViewBag.ErrorMessage
                    </p>
                </div>
                <div>
                    <input type="submit" value="Log in" />
                    <a href="#">Lost your password?</a>
                    <a href="#">Register</a>
                </div>
            }
            <!-- form -->

        </section><!-- content -->
    </div><!-- container -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
    <script type="text/javascript">
        $('#refresh').click(function () {
            var d = new Date();
            $("#imgcpatcha").attr("src", "/Captcha/CaptchaImage?" + String(d.getTime()));
        });

    @*$(function () {
        $('#refresh').click(function () {
            $("#imgcpatcha").attr("src", "/Captcha/CaptchaImage?" + String(Math.random()));
            return
            $.ajax({
                url: '@Url.Action("CaptchaImage","Captcha")',
                type: "GET",
                data: null
            })
                .done(function (functionResult) {

                    $("#imgcpatcha").attr("src", "/Captcha/CaptchaImage?" + String(Math.random()));

            });

        });
    });*@
    </script>
</body>
</html>